@import "../modal/modal.css";

.container {
  padding: 0 0 0 0;
  margin-right: 0;
  margin-top: 10px;
}

.box {
  display: flex;
  align-items: center;
  height: 30px;
}

.value {
  margin-left: 5px;
  font-weight: normal;
}

.one-line {
  display: inline-block;
  float: none;
}

.normal-button {
  width: 100px;
}

.break-in-lines {
  white-space: pre-wrap;
}

.receipt-font {
  font-family: "Courier New", Courier, monospace;
}
