@import "../modal/modal.css";

.box {
  display: flex;
  align-items: center;
  height: 30px;
  font-weight: bold;
}

.value {
  margin-left: 5px;
  font-weight: normal;
}

.one-line {
  display: inline-block;
  float: none;
}

.error {
  color: red;
}

.normal-button {
  width: 100px;
}

.break-in-lines {
  white-space: pre-wrap;
}

.receipt-font {
  font-family: "Courier New", Courier, monospace;
}

.margind-top {
  margin-top: 5px;
}
